# Domain details, zone must already exist in your account
zonename: domain.com
subdomain: laptop # Blank for root record
ttl: 60

# Webpage we're grabbing our IP address from
ip_webpage: "http://google.com/search?q=what+is+my+ip"


# PointHQ credentials, API Token can be found on "My Account" page
point_user: your@email.com
point_apitoken: pe97hq3ugc3vplztg7cyqc3rc6z47j8i1lxlssx7

# Set to false if you're not behind NAT, true otherwise
external_ip: true